<!DOCTYPE html>
<html lang="es">
  <head>
    <head> 
      <meta charset="utf-8"/>
      <title></title><meta name="description" content="seo.index" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- SEO = Redes Sociales -->
<meta property="og:title" content="seo" />
<meta property="og:type" content="seo" />
<meta  property="og:url" content="seo.url" />
<meta property="og:image" content="seo" />
      <link rel="stylesheet" href="/css/main.css"/>
      <link rel="stylesheet" href="/css/index.css"/>
    </head>
  </head>
  <body>
    <header class="header"></header>
    <main class="main">
    </main>
    <asidebar class="asidebar"></asidebar>
  </body>
</html>